{%
  set classes = [
    'para-t-' ~ paragraph.bundle|clean_class,
    view_mode ? 'para-v-' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'para-unpub'
  ]
%}
<div{{ attributes.addClass(classes) }}>{{ content }}</div>
