<li{{ attributes.addClass(is_active ? 'is-active') }}>
  {{ link }}
  {% if is_active %}
    <button class="trigger">
      <span class="trigger-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
  {% endif %}
</li>
