.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  margin: 0;
  padding: 0 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: rgba(13, 119, 181, 1);
  border: 2px solid rgba(13, 119, 181, 1);
  border-radius: 3px;
  background-color: #fff;
  line-height: inherit;
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  transition: opacity 0.2s;
  opacity: 0.8;
  appearance: none;
}
.button:active,
.button:hover,
.button:focus {
  text-decoration: none;
  color: rgba(13, 119, 181, 1);
  border: 2px solid rgba(13, 119, 181, 1);
  opacity: 1;
}
.button:focus {
  outline: 2px solid rgba(13, 119, 181, 1);
  outline-offset: 2px;
}
/*** Primary ***/
.button--primary,
.button--primary:active,
.button--primary:hover,
.button--primary:focus {
  color: #fff;
  background-color: rgba(13, 119, 181, 1);
}
/*** Danger ***/
.button--danger,
.button--danger:active,
.button--danger:hover,
.button--danger:focus {
  color: rgba(227, 63, 30, 1);
  border-color: rgba(227, 63, 30, 1);
}
.button--danger:focus {
  outline-color: rgba(227, 63, 30, 1);
}
/*** Disabled ***/
.button:disabled,
.button.is-disabled {
  cursor: default;
  opacity: 0.3;
}
