::placeholder {
  color: rgba(13, 119, 181, 0.5);
  opacity: 1;
}
.field-multiple-table .field-label .label,
.label,
label {
  display: block;
  margin: 0 0 0.35em;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
}
label[for] {
  cursor: pointer;
}
label.option,
[type="checkbox"] + label,
[type="radio"] + label {
  display: inline;
  margin: 0;
  padding: 0;
}
summary.form-required::after,
.fieldset-legend.form-required::after,
.label.form-required::after,
label.form-required::after,
.required-mark::after {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  content: "";
  vertical-align: text-top;
  background-image: url("data:image/svg+xml,%3Csvg%20height='16'%20width='16'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='m0%207.562%201.114-3.438c2.565.906%204.43%201.688%205.59%202.35-.306-2.921-.467-4.93-.484-6.027h3.511c-.05%201.597-.234%203.6-.558%206.003%201.664-.838%203.566-1.613%205.714-2.325l1.113%203.437c-2.05.678-4.06%201.131-6.028%201.356.984.856%202.372%202.381%204.166%204.575l-2.906%202.059c-.935-1.274-2.041-3.009-3.316-5.206-1.194%202.275-2.244%204.013-3.147%205.206l-2.856-2.059c1.872-2.307%203.211-3.832%204.017-4.575-2.081-.402-4.058-.856-5.93-1.356'%20fill='rgba(13,%20119,%20181,%201)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 0.5em 0.5em
}
summary.form-required::after,
.fieldset-legend.form-required::after {
  background-image: url("data:image/svg+xml,%3Csvg%20height='16'%20width='16'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='m0%207.562%201.114-3.438c2.565.906%204.43%201.688%205.59%202.35-.306-2.921-.467-4.93-.484-6.027h3.511c-.05%201.597-.234%203.6-.558%206.003%201.664-.838%203.566-1.613%205.714-2.325l1.113%203.437c-2.05.678-4.06%201.131-6.028%201.356.984.856%202.372%202.381%204.166%204.575l-2.906%202.059c-.935-1.274-2.041-3.009-3.316-5.206-1.194%202.275-2.244%204.013-3.147%205.206l-2.856-2.059c1.872-2.307%203.211-3.832%204.017-4.575-2.081-.402-4.058-.856-5.93-1.356'%20fill='%23FFF'/%3E%3C/svg%3E%0A");
}
[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="file"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  max-width: 100%;
  min-height: 3em;
  padding: 0 1em;
  border: 1px solid rgba(13, 119, 181, 0.7);
  border-radius: 3px;
  background-color: #fff;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  appearance: none;
  vertical-align: middle;
}
[type="date"] {
  min-width: 12em;
}
[type="time"] {
  min-width: 8em;
}
[type="checkbox"],
[type="radio"] {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em 0.25em 0;
  vertical-align: middle;
  border: 1px solid rgba(13, 119, 181, 0.7);
  border-radius: 3px;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1em 1em;
}
input[type="radio"] {
  border-radius: 50%
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  border-width: 2px;
}
input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg%20width='17'%20height='13'%20viewBox='0%200%2017%2013'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath%20d='M14.8232,0.176777%20C14.9209,0.0791457%2015.0791,0.0791455%2015.1768,0.176777%20L16.9445,1.94454%20C17.0422,2.04217%2017.0422,2.20047%2016.9445,2.2981%20L6.23744,13.0052%20C6.13981,13.1028%205.98151,13.1028%205.88388,13.0052%20L0.176777,7.2981%20C0.0791456,7.20047%200.0791456,7.04218%200.176777,6.94454%20L1.94454,5.17678%20C2.04217,5.07915%202.20047,5.07915%202.2981,5.17678%20L5.88388,8.76256%20C5.98151,8.86019%206.13981,8.86019%206.23744,8.76256%20L14.8232,0.176777%20Z'%20fill='rgba(13,%20119,%20181,%201)'%3E%3C/path%3E%3C/svg%3E");
}
input[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3Csvg%20width='17'%20height='17'%20viewBox='0%200%2017%2017'%20xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle%20cx='8.5'%20cy='8.5'%20r='8.5'%20fill='rgba(13,%20119,%20181,%201)'/%3E%3C/svg%3E%0A");url("data:image/svg+xml,%3Csvg%20width='17'%20height='17'%20viewBox='0%200%2017%2017'%20xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle%20cx='8.5'%20cy='8.5'%20r='8.5'%20fill='rgba(13,%20119,%20181,%201)'/%3E%3C/svg%3E%0A");
  background-size: 0.85em 0.85em;
}
[type="file"],
select[multiple],
textarea {
  padding-top: 0.65em;
  padding-bottom: 0.65em;
}
textarea {
  min-height: 9em;
}
select {
  height: 3em;
  background-image: url("data:image/svg+xml,%3csvg%20width='18'%20height='11'%20viewBox='0%200%2018%2011'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M18%201.49699C18%201.35271%2017.9279%201.19038%2017.8196%201.08216L16.9178%200.18036C16.8096%200.0721439%2016.6473%200%2016.503%200C16.3587%200%2016.1964%200.0721439%2016.0882%200.18036L9%207.26854L1.91182%200.18036C1.80361%200.0721439%201.64128%200%201.49699%200C1.33467%200%201.19038%200.0721439%201.08216%200.18036L0.180361%201.08216C0.0721442%201.19038%200%201.35271%200%201.49699C0%201.64128%200.0721442%201.80361%200.180361%201.91182L8.58517%2010.3166C8.69339%2010.4248%208.85571%2010.497%209%2010.497C9.14429%2010.497%209.30661%2010.4248%209.41483%2010.3166L17.8196%201.91182C17.9279%201.80361%2018%201.64128%2018%201.49699Z'%20fill='rgba(13,%20119,%20181,%200.7)'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 18px center;
  padding-right: 54px;
}
select[multiple] {
  height: auto;
  background-image: none;
  padding-right: 0.65em;
}
/*** Focus ***/
[type="checkbox"]:focus,
[type="radio"]:focus,
select:focus,
[type="color"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="file"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
textarea:focus {
  border: 1px solid rgba(13, 119, 181, 1);
  outline: 2px solid rgba(13, 119, 181, 1);
}
@supports (outline-style: double) {
  [type="checkbox"]:focus,
  [type="radio"]:focus,
  select:focus,
  [type="color"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="email"]:focus,
  [type="file"]:focus,
  [type="month"]:focus,
  [type="number"]:focus,
  [type="password"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="text"]:focus,
  [type="time"]:focus,
  [type="url"]:focus,
  [type="week"]:focus,
  textarea:focus {
    outline-width: 6px;
    outline-style: double;
    outline-offset: -1px
  }
}
/*** Error ***/
[type="checkbox"].error,
[type="radio"].error,
select.error,
[type="color"].error,
[type="date"].error,
[type="datetime-local"].error,
[type="email"].error,
[type="file"].error,
[type="month"].error,
[type="number"].error,
[type="password"].error,
[type="search"].error,
[type="tel"].error,
[type="text"].error,
[type="time"].error,
[type="url"].error,
[type="week"].error,
textarea.error,
[type="checkbox"].error:focus,
[type="radio"].error:focus,
select.error:focus,
[type="color"].error:focus,
[type="date"].error:focus,
[type="datetime-local"].error:focus,
[type="email"].error:focus,
[type="file"].error:focus,
[type="month"].error:focus,
[type="number"].error:focus,
[type="password"].error:focus,
[type="search"].error:focus,
[type="tel"].error:focus,
[type="text"].error:focus,
[type="time"].error:focus,
[type="url"].error:focus,
[type="week"].error:focus,
textarea.error:focus {
  background-color: rgba(227, 63, 30, 0.1);
  border-color: rgba(227, 63, 30, 1);
  outline-color: rgba(227, 63, 30, 1);
  border-width: 2px;
  outline-offset: -2px;
}
/*** Disabled ***/
[type="checkbox"][disabled],
[type="radio"][disabled],
select[disabled],
[type="color"][disabled],
[type="date"][disabled],
[type="datetime-local"][disabled],
[type="email"][disabled],
[type="file"][disabled],
[type="month"][disabled],
[type="number"][disabled],
[type="password"][disabled],
[type="search"][disabled],
[type="tel"][disabled],
[type="text"][disabled],
[type="time"][disabled],
[type="url"][disabled],
[type="week"][disabled],
textarea[disabled] {
  color: rgba(13, 18, 20, 0.5);
  background-color: rgba(13, 18, 20, 0.3);
  opacity: 0.6;
}

.paragraphs-subform > .form-wrapper,
.form-actions,
.form-item {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
.password-strength__title,
.password-confirm-message,
.password-suggestions,
.form-item .description {
  font-size: 0.78em;
  padding: 0.5em 0;
}
.password-strength__title span,
.password-confirm-message span {
  font-weight: bold;
}
.password-confirm-message span.ok {
  color: rgba(63, 162, 28, 1);
}
.password-confirm-message span.error {
  color: rgba(227, 63, 30, 1);
}
.password-strength__indicator.is-fair,
.password-strength__indicator.is-weak {
  background-color: rgba(227, 63, 30, 1);
}
.password-strength__indicator.is-good {
  background-color: rgba(253, 202, 64, 1);
}
.password-strength__indicator.is-strong {
  background-color: rgba(63, 162, 28, 1);
}
.fieldset-wrapper {
  clear: both;
}
.js-form-type-password-confirm.form-item,
.form-datetime-wrapper .form-item {
  padding-top: 0;
  padding-bottom: 0;
}
.form-actions,
.datetime-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}
[type="search"],
html.js .form-autocomplete {
  background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='18'%20height='18.8'%20viewBox='0%200%2018%2018.8'%3e%20%3cpath%20fill='rgba(13,%20119,%20181,%200.7)'%20d='M17.8,17.4l-3.6-3.6c1.4-1.5,2.2-3.4,2.2-5.6c0-4.5-3.7-8.2-8.2-8.2S0,3.7,0,8.2s3.7,8.2,8.2,8.2c1.8,0,3.4-0.6,4.7-1.5l3.7,3.7c0.3,0.3,0.8,0.3,1.2,0C18.1,18.3,18.1,17.7,17.8,17.4z%20M8.2,14.7c-3.6,0-6.5-2.9-6.5-6.5s2.9-6.5,6.5-6.5s6.5,2.9,6.5,6.5S11.8,14.7,8.2,14.7z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 18px center;
  padding-right: 54px;
}
html.js .form-autocomplete.ui-autocomplete-loading {
  background-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='18'%20height='18'%20viewBox='0%200%2010%2010'%3e%20%3cstyle%20type='text/css'%3e%40keyframes%20s%7b0%25%7btransform:rotate(0deg)%20translate(-50%25,-50%25)%7d50%25%7btransform:rotate(430deg)%20translate(-50%25,-50%25);stroke-dashoffset:20%7d100%25%7btransform:rotate(720deg)%20translate(-50%25,-50%25)%7d%7dellipse%7banimation:s%201s%20linear%20infinite%7d%3c/style%3e%20%3cg%20transform='translate(5%205)'%3e%20%3cellipse%20fill='none'%20ry='4'%20rx='4'%20cy='5'%20cx='5'%20stroke='rgba(13,%20119,%20181,%200.7)'%20stroke-width='1'%20stroke-dashoffset='6.125'%20stroke-dasharray='25'%20transform='translate(-5%20-5)'/%3e%20%3c/g%3e%3c/svg%3e");
}
.ui-autocomplete.ui-menu .ui-menu-item-wrapper {
  padding: 0.5em 1em;
  display: block;
}
.ui-autocomplete.ui-menu .ui-menu-item-wrapper.ui-state-active {
  border-color: rgba(13, 119, 181, 1);
  background-color:  rgba(13, 119, 181, 1);
  color: #fff;
  text-decoration: none;
}
.table-select.form-item [type="checkbox"],
th.select-all [type="checkbox"] {
  margin-bottom: 0;
}
.field-multiple-table td .form-item,
.tabledrag-hide .form-item,
.table-select.form-item {
  padding-top: 0;
  padding-bottom: 0;
}
button.link {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 1em;
  appearance: none;
}
.text-summary {
  width: 100%;
}
